<template name="login">
    <div style="margin: 25px 25px 25px 25px">
        <form id="login" action="">
            <div class="input-field">
            <input placeholder="Email" name="loginEmail" type="text">
            <label for="autor">Email</label>
            </div>

            <div class="input-field">
            <input placeholder="Password" name="loginPassword" type="password">
            <label for="autor">Password</label>
            </div>

            <button type="submit" class="waves-effect waves-light btn" value="Login">
                Login
            </button>
            
            <button class="waves-effect waves-light btn register">
                Registrar
            </button>
        </form>
    </div>
</template>