<template name="userRegister">
    <div style="margin: 25px 25px 25px 25px">
        <form id="userRegister" action="">
            <div class="input-field">
                <label for="autor">Nome</label>
                <input placeholder="Nome" name="nome" type="text">
            </div>

            <div class="input-field">
                <label for="autor">Email</label>
                <input placeholder="Email" name="loginEmail" type="text">
            </div>

            <div class="input-field">
                <label for="autor">Password</label>
                <input placeholder="Password" name="loginPassword" type="password">
            </div>

            <div class="input-field">
                <label for="autor">Confirme Password</label>
                <input placeholder="Password" name="confirmPassword" type="password">
            </div>

            <button type="submit" class="waves-effect waves-light btn" value="Register">
                Registrar
            </button>

            <button class="waves-effect waves-light btn voltar">
                voltar
            </button>
        </form>
    </div>
</template>